.main-nav {
  background-color: #000;
}
.nav-ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  height: 3vw;
}
.nav-ul a {
  text-decoration: none;
  color: #fff;
  text-decoration: none;
  font-size: 1em;
  font-weight: 100;
}
.fa-apple {
  font-size: 1.25rem;
}
.nav-ul a:hover {
  color: #bdc3c7;
}
.footer {
  background-color: #000;
  margin-top: 5%;
  height: 3vw;
  color: #fff;
}
