nav {
  background-color: #000;
  overflow: hidden;
}
nav a {
  color: #fff;
}
nav a:hover {
  color: #bdc3c7;
}
nav .navWide {
  display: none;
  margin: 0 auto;
}
nav .navWide .wideDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75%;
  height: 3vw;
}
nav .navWide .wideDiv a {
  text-decoration: none;
  color: #fff;
  font-size: .9em;
  font-weight: 100;
}
nav .navNarrow i {
  float: left;
  cursor: pointer;
  color: #fff;
  margin-left: 2%;
}
#narrow-logo {
  margin: 1.25% 0% 0% 40%;
}
nav .navNarrow a:nth-child(3) {
  float: right;
  margin: 1.25% 2% 0% 0%;
}
nav .navNarrow .narrowLinks {
  display: none;
}
nav .navNarrow .narrowLinks a {
  text-decoration: none;
  display: block;
  float: left;
  clear: left;
  padding: 0.5em 0;
}
.fa-apple {
  font-size: 1.25rem;
}
.fa-search {
  font-weight: lighter;
}

/* ------ Media Query for mobile "Hamburger" menu ------ */

@media (min-width: 600px) {
  nav .navWide {
    display: block;
  }
  nav .navNarrow {
    display: none;
  }
}
